n8n/workflows/dakota-phone-automation.json
{
  "name": "Dakota Phone Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dakota-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "dakota-call-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Extract call parameters from webhook\nconst contactName = $input.item.json.contact_name || 'Valued Customer';\nconst phoneNumber = $input.item.json.phone_number;\nconst callScript = $input.item.json.script || 'Hello, this is Dakota calling.';\nconst voiceId = $input.item.json.voice_id || $env.ELEVENLABS_VOICE_ID;\n\nreturn {\n  json: {\n    contact_name: contactName,\n    phone_number: phoneNumber,\n    call_script: callScript,\n    voice_id: voiceId,\n    call_id: `CALL-${Date.now()}`,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "parse-request",
      "name": "Parse Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/text-to-speech/={{$json.voice_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{$env.ELEVENLABS_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{$json.call_script}}"
            },
            {
              "name": "model_id",
              "value": "eleven_monolingual_v1"
            },
            {
              "name": "voice_settings",
              "value": "{\"stability\": 0.5, \"similarity_boost\": 0.75}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "elevenlabs-generate",
      "name": "ElevenLabs Generate Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "call",
        "operation": "make",
        "from": "={{$env.TWILIO_PHONE_NUMBER}}",
        "to": "={{$json.phone_number}}",
        "url": "={{$env.WEBHOOK_URL}}/webhook/twilio-call-status",
        "additionalFields": {
          "record": true,
          "recordingStatusCallback": "={{$env.WEBHOOK_URL}}/webhook/recording-complete",
          "statusCallback": "={{$env.WEBHOOK_URL}}/webhook/call-status-update",
          "statusCallbackEvent": ["initiated", "ringing", "answered", "completed"]
        }
      },
      "id": "twilio-make-call",
      "name": "Twilio Make Call",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "twilioApi": {
          "id": "twilio-credentials",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "check-call-status",
      "name": "Check Call Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "functionCode": "// Store call result in database\nconst callData = {\n  call_id: $json.call_id,\n  contact_name: $json.contact_name,\n  phone_number: $json.phone_number,\n  status: $json.status,\n  duration: $json.duration || 0,\n  recording_url: $json.recording_url || '',\n  timestamp: new Date().toISOString(),\n  success: $json.status === 'completed'\n};\n\nreturn {\n  json: callData\n};"
      },
      "id": "format-call-data",
      "name": "Format Call Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO call_logs (call_id, contact_name, phone_number, status, duration, recording_url, timestamp, success) VALUES ('{{$json.call_id}}', '{{$json.contact_name}}', '{{$json.phone_number}}', '{{$json.status}}', {{$json.duration}}, '{{$json.recording_url}}', '{{$json.timestamp}}', {{$json.success}});",
        "options": {}
      },
      "id": "store-call-log",
      "name": "Store Call Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1450, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.TEXTINGBIZ_API_URL}}/sms/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ={{$env.TEXTINGBIZ_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{$json.phone_number}}"
            },
            {
              "name": "message",
              "value": "Hi {{$json.contact_name}}, thank you for speaking with Dakota. We've recorded your preferences and will follow up soon!"
            },
            {
              "name": "from",
              "value": "={{$env.TWILIO_PHONE_NUMBER}}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-followup-sms",
      "name": "Send Follow-up SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"call_id\": $json.call_id, \"status\": $json.status, \"message\": \"Call completed and logged successfully\" } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"call_id\": $json.call_id, \"status\": $json.status, \"message\": \"Call failed or incomplete\" } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "ElevenLabs Generate Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs Generate Voice": {
      "main": [
        [
          {
            "node": "Twilio Make Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio Make Call": {
      "main": [
        [
          {
            "node": "Check Call Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Call Status": {
      "main": [
        [
          {
            "node": "Format Call Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Call Data": {
      "main": [
        [
          {
            "node": "Store Call Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Call Log": {
      "main": [
        [
          {
            "node": "Send Follow-up SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up SMS": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-22T18:20:00.000Z",
  "versionId": "1"
}
